#AddCard{
    display: grid;
    margin-top: 1rem;
    grid-template-columns: auto auto;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}
#AddCard select{
    margin-top: 0.1rem;
}
#AddCard label{
    font-size: small;
    font-weight: 500;
    margin-right: 0.25rem;
    text-align: right;
}
#AddCard button{
    grid-column: 1/3;
    font-weight: bold;
    border-radius: 5px;
    border-width: 0px;
    border-color: #a8a8a8;
    margin: 0.75rem;
    min-height: 2rem;
    background-color: var(--btn-color);
    box-shadow: var(--box-shadows);
}
#AddCard button:hover{
    background-color: var(--selected-color);
}
#AddCard button:active{
    transform: translate(0px, 1px);
}
select optgroup{
    font-style: normal;
}