#KnowledgeAdder{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
#KnowledgeAdder > span{
    margin-top: 0.5rem;
    font-size: large;
}
#KnowledgeSelection{
    margin: 0.75rem;
    display: flex;
}
#KnowledgeSelection > button{
    border-width: 0;
    min-height: 2rem;
    box-shadow: var(--box-shadows);
    background-color: var(--btn-color);
}
#KnowledgeSelection > button.selected{
    background-color: var(--selected-color);
    --shadow-color: rgb(118, 135, 192);
    box-shadow: inset -1px 1px 2px var(--shadow-color), inset 1px -1px 2px var(--shadow-color);
}
#KnowledgeSelection > button:hover{
    background-color: var(--selected-color);
}
#KnowledgeSelection > button:active{
    transform: translate(0px, 1px);
}
#KnowledgeSelection > button:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#KnowledgeSelection > button:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#CardBtn{
    border-width: 0;
    margin-left: 2px;
    margin-right: 2px;
}
