#KnowledgeViewer{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  align-items: center;
}
#KnowledgeViewHeader{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
#KnowledgeViewHeader > button{
  margin-right: 0.1rem;
}
#KnowledgeViewHeader > button:last-of-type{
  margin-right: 0.75rem;
}
#KnowledgeViewer span{
  font-size: 18px;
  font-weight: bold;
}

#KnowledgeContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
  margin-top: 0.5rem;
}
.KnowledgeView{
  display: flex;
  min-height: 2rem;
  padding: 0.2rem;
  border-radius: 5px;
  text-align: right;
  justify-content: end;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  background-color: rgb(169, 177, 189);
  text-align: right;
  text-justify: center;
}
.KnowledgeView strong{
  font-weight: 500;
}
.RemoveKnowledge{
  border-radius: 5px;
  min-height: 1.9rem;
  border-width: 0;
  margin-left: 0.3rem;
  background-color: rgb(247, 145, 145);
  box-shadow: var(--box-shadows);
}
.RemoveKnowledge:hover{
  background-color: rgb(247, 78, 78);
}
.RemoveKnowledge:active{
    transform: translate(0px, 1px);
}